<!DOCTYPE html>
<html>
	<head>
		<title>ADDRESS PAGE</title>
		<link rel="stylesheet" type="text/css" href="address.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="main.js"></script>
	</head>
	<body ng-app="myApp">
		<center>
		<div ng-controller="addrcontroller" class="formdiv">
			<form name="myForm">
				<div>
					<label>NAME :</label>
					<input type="text" name="name" placeholder="Enter Name" ng-model="name">
				</div>
				
				<div>
					<label>Flat No.:</label>
					<input type="text" name="flat" placeholder="Enter Flat Number" ng-model="flat">
				</div>
				
				<div>
					<label>Building Name :</label>
					<input type="text" name="bldg" placeholder="Enter Building Name" ng-model="bldg">
				</div>
				
				<div>
					<label>Street No.:</label>
					<input type="text" name="street" placeholder="Enter Street Number" ng-model="street">
				</div>
				
				<div>
					<label>City :</label>
					<input type="text" name="city" placeholder="Enter City" ng-model="city">
				</div>
				
				<div>
					<input type="button" value="Submit" onclick="add()">
					<input type="button" value="Reset">
				</div>
				
			</form>
		</div>
		</center>
	</body>
</html>